﻿
#symptom-container{
	width: 560px;
}
#symptom-container button{
	float:right;
	display:inline-block
}

#symptom-searchbox{
	display:inline-block;
	border:1px #E0E0E0 solid; 
	height:35px; 
	width:360px;
	border-radius: 10px 10px 10px 10px;
	padding:4px 8px 0px 5px;
	background-color:#fdfdfd;
}

#symptom-searchbox p{
	outline: none;
}

.symptom-style{
	display:inline-block;
	zoom:1;
	line-height:normal;
	white-space:nowrap;
	vertical-align:middle;
	text-align:center;
	-webkit-user-drag:none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-family:inherit;
	font-size:100%;
	padding:.5em 1em;
	color:#444;
	color:rgba(0,0,0,.8);
	border:1px solid #999;
	border:0 rgba(0,0,0,0);
	background-color:#E6E6E6;
	text-decoration:none;
	border-radius: 5px;
}

.icon-cancel:after {
	content: 'x'; 
	display: inline-block;
	margin-left: 10px;
	font-weight: bold;	
	cursor:pointer;
}

#symptom-results{
	width:373px;
	height: 60px;
	border:1px #E0E0E0 solid;
	overflow:auto;
	border-radius: 0px 0px 10px 10px;
	background-color:#fdfdfd;
	opacity:1.0; 
	z-index:9999
}

#symptom-results li{
	list-style-type: none;
}
#symptom-results li:hover{
	background-color: #E3E4E8;
	cursor:default;
	z-index:10000
}

#symptom-selected{
	margin: 10px 0px 15px 0px;
	width:373px;
	height: 70px;
	border:1px #E0E0E0 solid;
	overflow:auto;
	background-color:#fdfdfd; 
}
 