<section id="middle" >

  <!-- __________________________________________________ Start Top -->   

  <!-- _________________________  Finish Top _________________________ -->

  <!-- _________________________ Start Top Sidebar _________________________ -->    
  <section class="top_sidebar">
    <div class="top_sidebar_inner">
            <div class="one_first">
              <aside id="text-2" class="widget widget_text">
                <div class="textwidget">
                  
                  <form  method="post" id="form_contact_form_widget_001" ng-hide="hideForm" ng-submit="submitTheForm()" >
          
          			<h2>Crear Consulta</h2>
					<br/>
                                 
                      <h5>Descripcion</h5>
                      <div class="form_info cmsms_input"  style="width:60%">
                        <div class="col-md-4">                     
                          <textarea class="form-control" id="textarea" name="textarea"></textarea>
                        </div>
                      </div>
					<br/>
                       
					<h5>Agregar Sintomas</h5> {{symptoms | json}}
					<div id="symptom-container">	
						<symptom-searchbox > </symptom-searchbox>  
						<button class="button-success pure-button">Agregar</button>
						<div id="symptom-results" ng-show="showResults">
							<ul ng-repeat="symptom in symptoms">
								<symptom-element></symptom-element>
							</ul>
						</div>
						<div id="symptom-selected"></div>
					</div>
				
                    <div><input type="hidden" name="contact_form_widget_001_wurl" id="contact_form_widget_001_wurl" value="http://your_site.net/php/sendmail.php" /></div><!-- Here you need to set the path to the sendmail file -->
                <div><a href="#" id="contact_form_widget_001_wformsend" class="button_small" tabindex="14"><span>Enviar</span></a></div>

                  </form>
                  
              </div>
            </aside>
          </div>
        </div>
      </section>
      <!-- _________________________ Finish Top Sidebar _________________________ -->   
      <div class="content_wrap fullwidth">

        <!--_________________________ Start Content _________________________ -->     

      </div>
    </section>

