<section id="middle" >

			<!-- __________________________________________________ Start Top -->		
			
			<!-- _________________________  Finish Top _________________________ -->

			<!-- _________________________ Start Top Sidebar _________________________ -->		
			<section class="top_sidebar">
				<div class="top_sidebar_inner">
					<!-- <div class="one_first"> -->
						<!-- <aside id="custom-colored-blocks-2" class="widget widget_custom_colored_blocks_entries">
							<div id="box_color_1" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Clinic News</h2>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augue tristique sed
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_2" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Top Doctors</h2>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augue tristique sed
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_3" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">24 Hours Service</h2>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augue tristique sed
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_4" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Opening Hours</h2><br>
									<ul class="timeline-list">
										<li>
											<span class="fl">Monday - Friday</span>
											<span class="fr">8.00 - 17.00</span>
										</li>
										<li>
											<span class="fl">Saturday</span>
											<span class="fr">9.30 - 17.30</span>
										</li>
										<li>
											<span class="fl">Sunday</span>
											<span class="fr">9.30 - 15.00</span>
										</li>
									</ul>
								</div>
							</div>
						</aside> -->
				<!-- 	</div> -->
					<div class="one_first">
						<aside id="text-2" class="widget widget_text">
							<div class="textwidget">
								
								  <div class="panel panel-default col-md-offset-2" style="width:600px">
					                  <div class="panel-heading">
					                    <h3 class="panel-title" >Síntomas </h3>
					                  </div>

					                  <div class="panel-body" >
					                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					                  </div>
					                </div>
					            </div>
					    
					            
					             <form class="form-horizontal">
					                <div class="form-group">
					                <div class="col-md-offset-2 col-xs-10">
					                    <div id="carousel" class="col-md-offset-1">
					                <h3>Corousel goes here1</h3>

					            </div>
					                    <br>
					                    <br>
					                    <button type="submit" class="btn btn-danger col-md-offset-2 ">Cancelar</button>  <button type="submit" class="btn btn-success col-md-offset-1">Responder</button>
					                </div>
					             </div>
					                
					             </form>


								<form action="#" method="post" id="form_contact_form_widget_001">
								


								<div class="loading"></div>
								<div><input type="hidden" name="contact_form_widget_001_wurl" id="contact_form_widget_001_wurl" value="http://your_site.net/php/sendmail.php" /></div><!-- Here you need to set the path to the sendmail file -->
								<div><a href="#" id="contact_form_widget_001_wformsend" class="button_small" tabindex="14"><span>Enviar</span></a></div>
							</form>
							</div>
						</aside>
					</div>
				</div>
			</section>
			<!-- _________________________ Finish Top Sidebar _________________________ -->		
			<div class="content_wrap fullwidth">

				<!--_________________________ Start Content _________________________ -->		
				
			</div>
		</section>
