<section id="middle" >

  <!-- __________________________________________________ Start Top -->   

  <!-- _________________________  Finish Top _________________________ -->

  <!-- _________________________ Start Top Sidebar _________________________ -->    

  <section id="middle_content" role="main" ng-controller="doctorsController">
          <div class="entry">
            <div class="cmsms_cc">
              <div class="one_fourth" ng-repeat="doctor in doctors">
                <div class="cmsms_our_team_wrap">
                  <div class="cmsms_our_team">
                    <div class="wrap_person">
                      <figure>
                        <img width="440" height="440" src="images/smiling-doctor-with-chin-on-hand-s-150x150.jpg" class="fullwidth" alt="smiling-doctor-with-chin-on-hand-s" />   
                      </figure>
                      <div class="cmsms_team_rollover glow_blue">
                        <a href="dr_michael_linden.html" class="cmsms_link">
                          <span></span>
                        </a>
                      </div>
                    </div>
                    <header class="entry-header">
                      <div>
                        <h6 class="person_title">
                          <h4><a href="dr_michael_linden.html">{{doctor.name}} {{doctor.lastname}}</h4></b>
                          
                          <a>{{doctor.tel}}</a><br>
                          <a>{{doctor.cel}}</a>
                        </h6>
                        <p class="person_subtitle">{{doctor.hospital}}</p>
                      </div>
                    </header>
                    <footer class="entry-meta">
                      <a href="#" title="facebook" target="_blank">
                        <img src="images/img/facebook.png" alt="facebook" />    
                      </a>
                      <a href="#" title="twitter" target="_blank">
                        <img src="images/img/twitter.png" alt="twitter" />    
                      </a>
                      <a href="#" title="skype" target="_blank">
                        <img src="images/img/skype.png" alt="skype" />    
                      </a>
                      <a href="#" title="linkedin" target="_blank">
                        <img src="images/img/linkedin.png" alt="linkedin" />    
                      </a>
                      <div class="cl"></div>
                    </footer>
                  </div>
                </div>
              </div>

              
            </div>
          </div>
        </section>
  <section class="top_sidebar">
    <div class="top_sidebar_inner">
            <div class="one_first">
              <aside id="text-2" class="widget widget_text">
                <div class="textwidget">
                <p>In publishing s and graphic design, lorem ipsum is a filler text commonly used to demonstrate the graphic elements of a document or visual presentation. Replacing meaningful content that could be distracting with placeholder text may allow viewers to focus on graphic aspects such as font, typography, and page layout.</p>
                  
              </div>
            </aside>
          </div>
        </div>
      </section>
      <!-- _________________________ Finish Top Sidebar _________________________ -->   
      <div class="content_wrap fullwidth">

        <!--_________________________ Start Content _________________________ -->     

      </div>
    </section>

