<section id="middle" >

  <!-- __________________________________________________ Start Top -->   

  <!-- _________________________  Finish Top _________________________ -->

  <!-- _________________________ Start Top Sidebar _________________________ -->    
  <section class="top_sidebar" >
    <div class="top_sidebar_inner">
            <div class="one_first">
              <aside id="text-2" class="widget widget_text">
                <div class="textwidget">
              		<h3>Entrar</h3>
              	    	    
                  <form  method="post" id="form_contact_form_widget_001"  ng-submit="submitLogin()" >
                      <div style="width:30%" class="form_info cmsms_input">
                        <label class="col-sm-4 control-label" for="textarea">Usuario</label>
                        <div class="col-sm-4">                     
                          <input  type="text" class="form-control"  ng-model="user.username" >
                        </div>
                      </div>
                      <div style="width:30%" class="form_info cmsms_input">
                        <label class="col-sm-4 control-label" for="textarea">Contraseņa</label>
                        <div class="col-sm-4">                     
                          <input  type="password" class="form-control"    ng-model="user.password" >
                        </div>
                      </div>
                      
         
                    <input type="submit" value="Entrar" >
                  </form>

                 <!-- <div class="one_half first_column" style=" margin-left:27%">
                <aside class="box success_box" ng-show="showMessage">
                  <table>
                    <tbody>
                      <tr>
                        <td>&nbsp;</td>
                        <td>
                          <h4>{{ResponseMessage}}</h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </aside>
              </div>

 -->
              </div>
            </aside>
          </div>
        </div>
      </section>
      <!-- _________________________ Finish Top Sidebar _________________________ -->   
      <div class="content_wrap fullwidth">

        <!--_________________________ Start Content _________________________ -->     

      </div>
    </section>

