<section id="middle" >

			<!-- __________________________________________________ Start Top -->		
			
			<!-- _________________________  Finish Top _________________________ -->

			<!-- _________________________ Start Top Sidebar _________________________ -->		
			<section class="top_sidebar">
				<div class="top_sidebar_inner">
					<!-- <div class="one_first"> -->
						<!-- <aside id="custom-colored-blocks-2" class="widget widget_custom_colored_blocks_entries">
							<div id="box_color_1" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Clinic News</h2>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augue tristique sed
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_2" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Top Doctors</h2>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augue tristique sed
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_3" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">24 Hours Service</h2>
									<p>
										Cum sociis natoque penatibus et magnis dis parturient montesmus. Pro vel nibh et elit mollis commodo et nec augue tristique sed
									</p>
									<a href="#" class="button_widget" title="Read More">
										<span>Read More</span>
									</a>
								</div>
							</div>
							<div id="box_color_4" class="widget_colored_cell four_box">
								<div class="widget_colored_cell_inner">
									<h2 class="widgettitle">Opening Hours</h2><br>
									<ul class="timeline-list">
										<li>
											<span class="fl">Monday - Friday</span>
											<span class="fr">8.00 - 17.00</span>
										</li>
										<li>
											<span class="fl">Saturday</span>
											<span class="fr">9.30 - 17.30</span>
										</li>
										<li>
											<span class="fl">Sunday</span>
											<span class="fr">9.30 - 15.00</span>
										</li>
									</ul>
								</div>
							</div>
						</aside> -->
				<!-- 	</div> -->
					<div class="one_first">
						<aside id="text-2" class="widget widget_text">
							<div class="textwidget">
								
								<form  id="form_contact_form_widget_001" ng-hide="showForm" ng-submit="submitTheForm()">
								
								<div class="form_info cmsms_input">
								  <label class="col-md-4 control-label col-xs-2" for="recommendations">Recomendaciones</label>
								  <div class="col-md-4">
								     <textarea rows="3" class="form-control" id="recommendations" name="textarea"></textarea>
								  </div>
								</div>

									<div class="form_info cmsms_input">
									  <label class="col-md-4 control-label col-xs-2" for="treatment">Tratamiento</label>
									  <div class="col-md-4">
									     <textarea rows="5" class="form-control" id="treatment" name="treatment"></textarea>
									  </div>
									</div>

									<div class="form_info cmsms_input">
									  <label class="col-md-4 control-label col-xs-2" for="disease_estudies">Esutdios</label>
									  <div class="col-md-4">
									     <textarea rows="4" class="form-control" id="disease_estudies" name="disease_estudies"></textarea>
									  </div>
									</div>
								
								<div class="loading"></div>
								<div><input type="hidden" name="contact_form_widget_001_wurl" id="contact_form_widget_001_wurl" value="http://your_site.net/php/sendmail.php" /></div><!-- Here you need to set the path to the sendmail file -->
								<input type="submit" value="enviar" >
								<!-- <div><a href="#" id="contact_form_widget_001_wformsend" class="button_small" tabindex="14"><span>Enviar</span></a></div> -->
							</form>
							</div>
						</aside>
					</div>
				</div>
			</section>
			<!-- _________________________ Finish Top Sidebar _________________________ -->		
			<div class="content_wrap fullwidth">

				<!--_________________________ Start Content _________________________ -->		
				
			</div>
		</section>
